
<h3>WareHouse Products</h3>

@using System.Globalization;
@using WarehouseManager.Shared;
@inject WarehouseManager.Client.Services.IProductService productService

<div class="row">
	@if (Products != null)
	{
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Manufacturer</th>
                    <th>Purchase Price</th>
                    <th>Sale Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                    @foreach (var p in Products)
                    {
                        <tr>
                            <td>@p.Id</td>
                            <td>@p.Name</td>
                            <td>@p.Manufacturer</td>
                            <td>@p.PurchasePrice.ToString("C", CultureInfo.CurrentCulture)</td>
                            <td>@p.SalePrice.ToString("C", CultureInfo.CurrentCulture)</td>
                            <td>@p.Quantity</td>
                        </tr>
                    }
            </tbody>
        </table>
		
	}
	else
	{
		<div class="badge text-center">Please Wait ... </div>
	}
</div>

@code {
	private List<Product> Products = new List<Product>();

	protected override async Task OnInitializedAsync()
	{
		Products = await productService.GetAllProducts();
	}
}